# ---- Datos ----
data/raw/
data/interim/

# el "*" es necesario para poder reincluir el csv de particiones
data/processed/*
!data/processed/01_particiones.csv

!data/own_signs/

# ---- Modelos entrenados ----
*.h5
*.keras
*.pt
*.pth
models/

# ---- Python ----
__pycache__/
*.py[cod]
.venv/
venv/
env/
.ipynb_checkpoints/

# ---- Sistema / editor ----
.DS_Store
.vscode/
.idea/
